<ion-header [translucent]="true">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="celeste">
      <ion-title size="large">Crear Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">

    <ion-list id="formulario">
      <ion-label id="sub">Información de Registro</ion-label><br>
      <ion-input [(ngModel)]="informacion.username" type="text" expand="full" label="User" placeholder="Ingrese su usuario"
        slot="start" ></ion-input>
      <ion-input [(ngModel)]="informacion.email" type="email" expand="full" label="Correo"
        placeholder="Ingrese su Correo" slot="start"></ion-input>
      <ion-input [(ngModel)]="informacion.password" type="password" expand="full" label="Contraseña"
        placeholder="Ingrese su Contraseña" slot="start"></ion-input>
      <ion-button (click)="registrarUsuario(informacion)" shape="round" size="small" class="celeste">
        Crear Cuenta
      </ion-button>
    </ion-list>

  </div>
</ion-content>
