<ion-header [translucent]="true">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">

    <ion-list id="formulario">
      <ion-label id="sub">Información de Registro</ion-label><br>
      <ion-input [(ngModel)]="informacion.nombre" type="text" expand="full" label="Nombre" placeholder="Ingrese su nombre"
        slot="start" ></ion-input>
      <ion-input [(ngModel)]="informacion.apellido" type="text" expand="full" label="Apellido"
        placeholder="Ingrese su apellido" slot="start"></ion-input>
      <ion-input  type="email" expand="full" label="Correo"
        placeholder="Ingrese su Correo" slot="start"></ion-input>
      <ion-input  type="password" expand="full" label="Contraseña"
        placeholder="Ingrese su Contraseña" slot="start"></ion-input>
      <ion-input  type="password" expand="full" label="Contraseña"
        placeholder="Confirme su Contraseña" slot="start"></ion-input>
      <ion-select [(ngModel)]="informacion.nivel" label="Ingrese su rol" interface="action-sheet"
        placeholder="Seleccione Opcion" slot="center">
        <ion-select-option value="Profesional">Profesor</ion-select-option>
        <ion-select-option value="Universitaria">Alumno/a</ion-select-option>
      </ion-select>
      <ion-button [routerLink]="['/home']" shape="round" size="small">
        Crear Cuenta
      </ion-button>
    </ion-list>

  </div>
</ion-content>
