

<ion-content [fullscreen]="true">
  <br><br><br>
  <div class="container" id="logo">
    <ion-avatar id="avatar" #avatar>
      <img alt="Silhouette of a person's head"
        src="assets/img/logoduoc4.png" />
    </ion-avatar>
  <br><br><br>
    
  <h1></h1>

  <form [formGroup]="usuario">

    <ion-item>
      <ion-input (click)="playAvatar()" label="{{textUser}}" labelPlacement="floating" placeholder="{{desUser}}" formControlName="user"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input (click)="playAvatar()" label="{{textPass}}"  labelPlacement="floating" placeholder="{{desPass}}" type="password" formControlName="pass"></ion-input>
    </ion-item>
    <br><br>
    <ion-button expand="block" class="celeste" [disabled]="!usuario.valid"  (click)="apiLogin()" fill="outline">{{textBtn}}</ion-button> 
    <BR><BR>
    <a [routerLink]="['/recuperar-password']">Recuperar contraseña</a>
  </form>

  </div>
</ion-content>

