

<ion-content [fullscreen]="true">
  <br><br><br>
  <div id="logo">
    <ion-avatar id="avatar" #avatar>
      <img alt="Silhouette of a person's head"
        src="assets/img/logoduoc4.png" />
    </ion-avatar>
  <br><br><br>
  <ion-card>  
    <ion-card-content id="container">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="user.usuario" label="Nombre Usuario" labelPlacement="floating"
            placeholder="Ingrese su Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="user.password" label="Contraseña" type="password" labelPlacement="floating"
            placeholder="Ingrese su Contraseña">
          </ion-input>
        </ion-item>
        <br>
        <ion-button (click)="vistaProfe()"    shape="round">Conectar</ion-button><p><a>Recuperar contraseña</a></p>
        <br>
        <ion-button [routerLink]="['/registrarse']" size="small" shape="round" >
          Crear Cuenta
        </ion-button>
        <br>
        <ion-button (click)="playAvatar()" size="small" shape="round">
          Animar
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
